<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Select</title>
	<link rel="stylesheet" href="/static/mystyle.css">
</head>

<body class="body_styles">
	<form id = "form" class="form-center" method="post">

		<label for="firstName" class="label_styles">Select the graph you want to see: </label>

		<br>
		<br>

		<input type="submit" formaction="/bmi_historical" class="submit_style" value="BMI Historical Trend">

		<br>

		<input type="submit" formaction="/ehr_historical" class="submit_style" value="EHR Historical" >

		<br>

		<input type="submit" formaction="/bmi_historical_predicted" class="submit_style" value="BMI Historical and Predicted Trend" >
		<br>

		<input type="submit" formaction="/rank_features" class="submit_style" value="Rank Features" >
	</form>  -->

</body>
</html>